<div *ngIf="isRegister; else noRegister">
  Your account has successfully been created.<br> Please proceed to log in to access the restaurants.
</div>

<ng-template #noRegister>
  <div class="container">
    <h3 class="mb-4">Sign up</h3>
    <form name="form" #f="ngForm" style="max-width: 250px;" (ngSubmit)="onRegister()" novalidate>

      <div class="form-group">
        <label for="username">Username: </label>
          <input type="text" name="username" class="form-control" [(ngModel)]="form.username" #username="ngModel"
            autocomplete="off" required>
      </div>

      <div class="form-group">
        <label for="email">Email: </label>
          <input type="text" name="email" class="form-control" [(ngModel)]="form.email"
            #email="ngModel" autocomplete="off" required>
      </div>

      <div class="form-group">
        <label for="firstName">First Name: </label>
          <input type="text" name="firstName" class="form-control" [(ngModel)]="form.firstName"
            #firstName="ngModel" autocomplete="off" required>
      </div>
      
      <div class="form-group">
        <label for="lastName">Last Name: </label>
          <input type="text" name="lastName" class="form-control" [(ngModel)]="form.lastName"
            #lastName="ngModel" autocomplete="off" required>
      </div>

      <div class="form-group">
        <label for="phoneNumber">Phone Number: </label>
          <input type="text" name="phoneNumber" class="form-control" [(ngModel)]="form.phoneNumber"
            #phoneNumber="ngModel" autocomplete="off" required>
      </div>

      <div class="form-group">
        <label for="password">Password: </label>
          <input type="password" name="password" class="form-control" [(ngModel)]="form.password"
            #password="ngModel" autocomplete="off" required>
      </div>

      <div class="form-group">
        <button class="btn btn-primary mb-3" [disabled]="!f.valid">Create account</button>
        <div *ngIf="f.submitted && isRegisterFail" class="alert alert-danger">Failed to create account: {{errorMsg}}</div>
      </div>

    </form>
  </div>
</ng-template>
